@model InstructorCourse

@{
    ViewBag.Title = "Create Course";
}


<h2>Create Course</h2>


@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h4>Course</h4>
        <hr />
        <div class="row form-group">
            @Html.LabelFor(c => c.Course.Code, "Code", new { @class = "col-md-3" })
            <div>
                @Html.TextBoxFor(c => c.Course.Code, new { @class = "form-control col-md-9" })
                @Html.ValidationMessageFor(c => c.Course.Code, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            @Html.LabelFor(c => c.Course.Name, "Name", new { @class = "col-md-3" })
            <div>
                @Html.TextBoxFor(c => c.Course.Name, new { @class = "form-control col-md-9" })
                @Html.ValidationMessageFor(c => c.Course.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            @Html.LabelFor(c => c.Course.Hours, "Hours", new { @class = "col-md-3" })
            <div>
                @Html.TextBoxFor(c => c.Course.Hours, new { @class = "form-control col-md-9" })
                @Html.ValidationMessageFor(c => c.Course.Hours, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success btn-sm" />
            </div>
        </div>
        @Html.ActionLink("Back to List", "Index", "Index", new { @class = "btn btn-default btn-sm" })
    </div>

}
