@model CourseInstructorVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <table class="table table-striped">
        <tr>
            <td class="col-md-2">
                @Html.LabelFor(model => model.CourseCode)
            </td>
            <td class="col-md-3">
                @Html.DisplayFor(model => model.CourseCode)
            </td>
        </tr>
        <tr>
            <td class="col-md-2">
                @Html.LabelFor(model => model.CourseName)
            </td>
            <td class="col-md-3">
                @Html.DisplayFor(model => model.CourseName)
            </td>
        </tr>
        <tr>
            <td class="col-md-2">
                @Html.LabelFor(model => model.CourseHours)
            </td>
            <td class="col-md-3">
                @Html.DisplayFor(model => model.CourseHours)
            </td>
        </tr>
        @if (Model.CourseHasInstructor)
        {
            @:<tr>
                <td class="col-md-2">
                    @Html.LabelFor(model => model.Instructors)
                </td>
                <td class="col-md-3">
                    @Html.DropDownListFor(a => a.InstructorName,
                                         new SelectList(Model.Instructors, "Value", "Text",
                                         Model.InstructorName),
                                         "-- Instructors --",
                                         new { @class = "dropdown col-md-5 btn btn-default" })
                </td>
            @:</tr>

        }
        else
        {
            @:<tr>
                <td class="col-md-2">
                    @Html.LabelFor(model => model.Instructors)
                </td>
                <td class="col-md-3">
                    No instructors yet...
                    </td>
                @:</tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", "Index", new { @class = "btn btn-default btn-sm" }) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseId }, new { @class = "btn btn-primary btn-sm" })
</p>
